* {
    margin: 0;
    padding: 0;
    background-color: none;
}

naw {
    width: 100%;

}

.head1 {
    display: flex;
    justify-content: left;
    
    width: 100vw;
}

.headerAll {
    display: flex;
    justify-content: space-between;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    display: flex;
    
    
    
}

.headerButtons {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(156, 156, 156);
    width: 110%;
    min-width: 10vw;
    height: 100%;
    background-color: rgb(227, 255, 255);

}

.headerUserInfo {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(156, 156, 156);
    font-size: 80%;
    background-color: rgb(227, 255, 255);

}